---
import Layout from "../../layouts/Layout.astro";
import ContactSection from "../../components/ContactSection.astro";
---

<Layout
  title="Contact | Alejandro Vega"
  description="Contact Alejandro Vega for inquiries about DevSecOps, AWS cloud architecture or professional collaborations."
  lang="en"
>
  <main class="pt-16">
    <ContactSection />
  </main>
</Layout>
