---
import Layout from "../layouts/Layout.astro";
import ArchitectureSection from "../components/ArchitectureSection.astro";
---

<Layout title="Sobre esta web | Alejandro Vega">
  <main class="pt-16">
    <ArchitectureSection />
  </main>
</Layout>
