---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/AboutSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import TechStackSection from "../components/TechStackSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<Layout title="Sobre Mí | Alejandro Vega">
  <main class="pt-16">
    <AboutSection />
    <ExperienceSection />
    <TechStackSection />
    <ProjectsSection />
  </main>
</Layout>
