---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Alejandro Vega | Cloud Architect & DevOps Engineer">
  <main>
    <HeroSection />
  </main>
</Layout>
