---
import Layout from "../layouts/Layout.astro";
import LaboratorioSection from "../components/LaboratorioSection.astro";
---

<Layout title="Laboratorio | Alejandro Vega">
  <main class="pt-16">
    <LaboratorioSection />
  </main>
</Layout>
