---
import Layout from "../layouts/Layout.astro";
import SkillsSection from "../components/SkillsSection.astro";
---

<Layout title="Skills | Alejandro Vega">
  <main class="pt-16">
    <SkillsSection />
  </main>
</Layout>
