---
import Layout from "../layouts/Layout.astro";
import DonateSection from "../components/DonateSection.astro";
---

<Layout
  title="Apoyar | Alejandro Vega"
  description="Apoya el trabajo de Alejandro Vega: contenido sobre cloud, DevSecOps y cursos. Invítame a un café vía PayPal."
>
  <main class="pt-16">
    <DonateSection />
  </main>
</Layout>
