---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Alejandro Vega | Senior DevSecOps Engineer & Cloud Architect">
  <main>
    <HeroSection />
  </main>
</Layout>
