---
import Layout from "../layouts/Layout.astro";
import LicenseSection from "../components/LicenseSection.astro";
---

<Layout
  title="Licencia MIT | Alejandro Vega"
  description="Licencia MIT del contenido publicado por Alejandro Vega."
>
  <main class="pt-16">
    <LicenseSection />
  </main>
</Layout>
